.header img {
    float: left;
}

.header .wave {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: -1;
}

.header h2 {
    position: relative;
    top: 5px;
    left: 25px;
    font-family: 'Century Gothic';
    font-style: italic;
    text-shadow: .5px .5px .5px #555555;
    color: #c07652
}

.container {
    overflow-x: scroll;
}

/* Style the tab */
.tab {
    background-color: transparent;
    white-space: nowrap;
    max-width: 100000px;
    display: table;
    z-index: 1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 1px 1px 1px;
    border-color: #c0c0c0;
    outline: none;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.3s;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    position: sticky;
    left: 0px;
    z-index: 3;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.box {
    border: 1px solid #0a7e79;
    border-radius: 2px;
    margin: 5px;
    overflow-wrap: break-word;
    background-color: #fdfbf9
}

.box h4 {
    background-image: linear-gradient(to right, #0a7e79, #76b8b5);
    color: white;
    margin: 0px;
}

.box p {
    color: #333;
    padding: 5px;
}

