<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BuildTasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuildTasks.Properties.Settings>
            <setting name="Start" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</value>
            </setting>
            <setting name="CommandLine" serializeAs="String">
                <value>"C:\Users\u164225\Documents\Hydra\UIObjects\UIObjects.csproj" /p:Configuration=Debug /p:Platform="Any CPU" /p:OutputPath="bin\Debug" /p:AllowUnsafeBlocks=true /t:BeforeBuild</value>
            </setting>
        </BuildTasks.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
