<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="WebApiUrlBase" value="http://68.98.211.245:81/Hydra.ReleaseManagement.Services/api" />
	</appSettings>	
</configuration>
 