**/bin
**/obj
**/libs
**/*.xproj
**/*.xproj.user
**/.vs
**/.vscode
**/*.error
**/*.json.pretty
**/.taskkey
node_modules
**/node_modules
_downloads
_layout
_l1
_package
_reports
_dotnetsdk
TestResults
TestLogs
.DS_Store
**/*.DotSettings.user

#generated
src/Microsoft.VisualStudio.Services.Agent/BuildConstants.cs

