<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="Insert" />
		<section name="generatorOverridesSection" type="AbstraX.GeneratorOverridesSection, ApplicationGenerator" xdt:Transform="Insert"  />
	</configSections>
	<generatorOverridesSection xdt:Transform="InsertAfter(/configuration/configSections)">
		<override argumentsKind="GenerateBusinessModel">
			<assembly name="ApplicationGenerator.Overrides" version="1.0.0.0" publicKeyToken="null" culture="neutral" />
		</override>
	</generatorOverridesSection>
	<connectionStrings xdt:Transform="InsertAfter(/configuration/generatorOverridesSection)">
		<add name="RipleyEntities" connectionString="metadata=res://*/Ripley.csdl|res://*/Ripley.ssdl|res://*/Ripley.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KEN-DESKTOP\SQLEXPRESS;initial catalog=Ripley;persist security info=True;user id=RipleyServiceAccount;password=09392181-6B8A-4933-9403-77B9DF746C9F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>