<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="SDKInterfaceLibraryEntities" connectionString="metadata=res://*/SDKInterfaceLibrary.Entities.SDKInterfaceLibrary.Entities.csdl|res://*/SDKInterfaceLibrary.Entities.SDKInterfaceLibrary.Entities.ssdl|res://*/SDKInterfaceLibrary.Entities.SDKInterfaceLibrary.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SDKInterfaceLibrary;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>