<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Code.Contract" version="1.0.0" targetFramework="net40" />
  <package id="JetBrains.Annotations.Core" version="8.2.0.2160" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>