<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Hydra Bundle for Windows" 
			Version="!(bind.packageVersion.HydraPackage)"
			Manufacturer="CloudIDEaaS"
			UpgradeCode="{B2B314D7-4FAA-4669-B801-5373BA46AE0A}"
			Copyright="(c) 2020 CloudIDEaaS"
			HelpTelephone="(888) 647-4019"
			HelpUrl="http://www.cloudideaas.com/hydra/support"
			IconSourceFile="res/Hydra.ico"
			AboutUrl="http://www.cloudideaas.com/hydra"
			Compressed="yes">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication
				LicenseUrl="http://www.cloudideaas.com/hydra/license.htm"
				LogoFile="res\HydraSplashSide.png"
				ThemeFile="res\HydraTheme.xml"
				LicenseFile="res\HydraEULA.rtf"
				ShowVersion="yes"
				LocalizationFile="res\HydraTheme.wxl"
				SuppressOptionsUI="yes" /> 
		</BootstrapperApplicationRef>
		<Chain>
			<PackageGroupRef Id="NetFx462Web"/>
			<PackageGroupRef Id="HydraSuite" After="NetFx462Web" />
		</Chain>
	</Bundle>
	<Fragment>
		<PackageGroup Id="HydraSuite">
			<MsiPackage Id="HydraPackage" DisplayInternalUI="yes" Visible="yes"
				SourceFile="Installers\Hydra.InstallerStandalone.msi">
			</MsiPackage>
		</PackageGroup>
	</Fragment>
</Wix>