<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Program"
        switchName="VSTSAgentSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="VSTSAgentSwitch" value="Info"/>
    </switches>
    <sharedListeners>
      <add name="LogListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="D:\MC\CloudIDEaaS\root\HydraDevOps\Logs\AgentOutput.log">
        <filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Info"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
